.Project {
    text-align: left;
    height: 60vh;
    position: relative;
    margin-bottom: 10rem;

}

.Project .project-section {
    margin-top: 5%;
}
.project-header-main{
    font-size: 2.5rem;
    font-weight: bold;
}

.project-header-sub {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
}





.linkLogo {
    margin-top: 15px;
}


.App-logo {
    margin-right: 10px;
}

