.AboutMe{
    text-align: left;
    height: 60vh;
    position: relative;
    margin-bottom: 15rem;
}

.home-header{
    font-size: 2.5rem;
    min-font-size: 20px;
    font-weight: bold;
}

.tech-header {
    font-weight: bold;
}

.skills{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 3vw;
}
.tech-logo{
    width: auto;
    height: 30px;
    margin: 0 10px;
    display: inline-block;
    object-fit: contain;
    
}

.cv-button {
    display: inline-block;
    text-align: center;
    margin: 20px auto; /* Centers the button horizontally */
    padding: 10px 20px;
    /*transition: transform 0.3s;*/
    position: relative; /* This ensures it behaves well within the flex container */
    left: 50%; /* Position it halfway across the container */
    transform: translateX(-50%); /* Shift it back to center */
    border-radius: 50%;
}

.cv-button:hover {
    /*transform: scale(1.1);*/
    transform: translateX(-50%) scale(1.1);
}

